@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .title-layered {
      position: relative;
      color: #ebebeb;
    }

    .title-layered::before {
      top: 2rem;
      left: 2rem;
      z-index: -3;
    }

    .title-layered::after {
      top: 1rem;
      left: 1rem;
      z-index: -2;
    }

    .title-layered::before,
    .title-layered::after,
    .title-layered span::before,
    .title-layered span::after {
      content: 'Ground Breaking Technology';
      position: absolute;
      font-weight: inherit;
      color: black;
          text-shadow: 2px 0 #ededed,
              /* Right */
              -2px 0 #ededed,
              /* Left */
              0 2px #ededed,
              /* Bottom */
              0 -2px #ededed,
              /* Top */
              2px 2px #ededed,
              /* Bottom-right */
              -2px -2px #ededed,
              /* Top-left */
              2px -2px #ededed,
              /* Top-right */
              -2px 2px #ededed;
            /* Bottom-left */
            ;
    }

    .title-layered>span {
      content: 'Ground Breaking Technology';
    }
}

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
